# Telegram
API_ID=12345678
API_HASH=your_api_hash
BOT_TOKEN=123456:ABCDEF

# TMDb
TMDB_API_KEY=your_tmdb_api_key

# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/

# Your Movie Bot
MOVIE_BOT_USERNAME=CMG_MovieBot
